name: if-demo-3
on:
  push:
    branches:
      - feature/**
      - develop
      - main
jobs:
  build:
    runs-on: ubuntu-slim
    if: startsWith(github.ref_name, 'feature') && github.event_name == 'push'
    steps:
      - name: Validate the code
        run: echo "Verified the code from ${{ github.ref_name }}"        
  dev:
    runs-on: ubuntu-slim
    needs: build
    if: github.ref_name == 'develop' && github.event_name == 'push'
    steps:
      - name: Deploy to dev cluster
        run: echo "Deployed to dev cluster."
  prod:
    runs-on: ubuntu-slim
    needs: dev
    if: github.event_name == 'push' && github.ref_name == 'main'
    steps:
      - name: Deploy to prod
        run: echo "Deployed to prod."
  success:
    runs-on: ubuntu-slim
    needs: ['build', 'dev', 'prod']
    if: always() && !failure()
    steps:
      - name: Succeeded
        run: echo "No failure, all jobs are successful."
  failure:
    runs-on: ubuntu-slim
    needs: ['build', 'dev', 'prod']
    if: failure()
    steps:
      - name: Check for failure
        run: echo "There is a failure ${{ github.action_status }}
